<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
    <!-- my CSS -->
    <link rel="stylesheet" href="static/blog.css" />
    <title>Blog</title>
  </head>
  <body>
    <div class="container">
      <h1>Daftar menu</h1>
      <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>
      <a href="/">
        <button class="btn-pill">
          <span> back to index</span>
        </button>
      </a>
      <table class="table mt-2">
        <thead>
          <tr class="table-dark">
            <th scope="col">No</th>
            <th scope="col">Menu</th>
            <th scope="col">harga</th>
            <th scope="col">detail</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach((Menu,i) => { %>
          <tr>
            <th scope="row"><%= i += 1 %></th>
            <td><%= Menu.menu %></td>
            <td><%= Menu.harga %></td>
            <td>
              <a
                href="/blog/<%= Menu.menu %> "
                class="btn btn-success badge rounded-pill"
                ><i class="bi bi-info-circle"></i> detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <br />

      <br /><br />
      <a href="/pesan">
        <button class="btn-shine">
          <span>buy here</span>
        </button>
      </a>
      <br /><br />
    </div>

    <div alt="desk-setup" class="full-size"></div>

    <div class="container">
      <p class="highlight">
        welcome to Waroeng solo website, kita menyediakan beragam jenis makanan
        solo berkualitas yang akan membawa anda merasakan kampung halaman anda
      </p>
      <p>
        Rumah Makan Waroeng solo adalah perusahaan yang menekuni bidang kuliner yaitu rumah makan. 
Rumah Makan Waroeng solo pertama kali berdiri pada awal tahun 2021, fokus Rumah Makan Waroeng solo yaitu menjadikan rumah makan dengan menu kuliner cita rasa tradisional khas daerah Jawa.
      </p>
      <p> 
Selain itu Rumah Makan Waroeng solo juga menyuguhkan konsep tempat makan yang nyaman dan juga bisa dijadikan tempat istirahat, desain interior yang bergaya tradisional semakin menguatkan bahwa Rumah Makan Waroeng solo menjadi salah satu restoran yang mengedepankan Waroeng solo sebagai masakan tradisional dan juga tempat yang sederhana tradisional.
      </p>
    </div>
  </body>
</html>
